
*{

  margin:0px;
  padding: 0px;
}

  .QuittanceLoyer{

      background-image: url("../img/QuittanceExp.png");
      background-size: 100% 100%;
  }


.container{

  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


input{
    height: 11px;
    border:none;
    position:relative;
}


.center {
  position: absolute;
  width: 70%;
  height: 50%;
  border: 3px solid green;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}


.block1,.block2,.block3{
  
display:flex;
flex-direction:column;
justify-content: space-evenly;

}



.ntp1{
  top:15%;
}

.inpfgu{

  width: 42%;
  bottom: 5%;
  left: 27%;
}


.df3{
  top:6%;
}

.df2{
  top:7%;
}



.df4{
  top:4%;
}


.df5{

  top:7%;
}

.intpo{

  width: 42%;
  left: 36%
}


.inpfgh{
  width: 16%;
  bottom: 1%;
  left: 2%;
}

.ntp2{
  top:10%;
}



.inpfgf{

  width: 42%;
  bottom: 14%;
  left: 27%;
}




.ntp3{
  top:4%;
}


.ntp4{
  top:6%;
}

.inpubckl{

  width:24%;
  left:62%;

}


.ls2{
  top:-8%;
}



.ls3{

  top:-14%;
}

.ls1{
  top:1%;
}

.inpubnt{
  width: 42%;
  left: 36%; 
}



.inptblack{

  width:24%;
  bottom:5%;
  left:7%;
}



.block1{

  width: 38%; 
  height: 100%;
}

.block2{
  width: 32%; 
  height: 100%;
}


.block3{

  width: 25%; 
  height: 31%;

}



